<h1>Edit</h1>
<% if @animal.errors %>
    <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
<% end %>

<%= form_for :animal, url: animal_path, method: :patch do |f| %>
<%=f.label :name %>
    <%=f.text_field :name %>
    
<%=f.label :latin_name %>
    <%=f.text_field :latin_name %>
    
<%=f.label :kingdom %>
    <%=f.text_field :kingdom %>
    
    <%=f.submit "Edit" %>
<% end %>